@use 'sass:map';
$colors: (
        primary: #3ea2e4,
        success: #43cd88,
        info: #bebebe,
        warning: #ffb15f,
        danger: #f74047,
);
/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ( // 主色
            'base': map.get($colors, primary),
        ),
        'success': ( // 成功色
            'base': map.get($colors, success),
        ),
        'warning': ( // 警告色
            'base': map.get($colors, warning),
        ),
        'danger': ( // 危险色
            'base': map.get($colors, danger),
        ),
        'error': ( // 错误色
            'base': map.get($colors, danger),
        ),
        'info': ( // 信息色
            'base': map.get($colors, info),
        ),
    ));
