@use 'sass:map';
@use './vars.scss' as vars;

@mixin resetInput() {
  //--el-input-border-color: #{map.get(vars.$colors, neutral-7)};
  //--el-input-hover-border-color: #{map.get(vars.$colors, neutral-5)};
  //--el-input-focus-border-color: #{map.get(vars.$colors, primary)};
  //--el-input-disabled-border-color: #{map.get(vars.$colors, neutral-2)};
  //--el-input-disabled-background-color: #{map.get(vars.$colors, neutral-1)};
}

@mixin resetButton($type: primary) {
  border-radius: 0.5rem;
  //background-color: map.get(vars.$colors, $type);
  &:hover {
    background-color: map.get(vars.$colors, #{$type}-dark-1);
  }
}

@mixin resetSelect() {
  border-radius: 0.5rem;
}
