@font-face {
  font-family: 'Microsoft YaHei';
  src: url('../font/msyh_font/msyh.ttc') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Microsoft YaHei';
  src: url('../font/msyh_font/msyhbd.ttc') format('truetype');
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Microsoft YaHei', sans-serif;
}

@mixin full-screen {
  font-size: 16px;
}
@mixin middle-screen {
  font-size: 14px;
}
@mixin small-screen {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  html {
    @include small-screen;
  }
}

@media screen and (max-width: 768px) {
  html {
    @include middle-screen;
  }
}

@media screen and (min-width: 768px) {
  html {
    @include full-screen;
  }
}
